{{!< default}}
{{> material-cover}}
<div class="page page-index container-wrapper">
    <ol class="posts">
        {{#foreach posts}}
         {{> post-list-item }}
	{{/foreach}}
    </ol>
<span class="post-meta">
    <time datetime="{{date format='YYYY-MM--DD'}}">{{date format="DD MMM YYYY"}}</time> 
    {{#if tags}}on {{tags}}{{/if}} 
    <a href="{{url}}#disqus_thread">Comments</a>
</span>
</div>
{{pagination}}
